{
  "swagger" : "2.0",
  "info" : {
    "description" : "Public API for managing Clever-Cloud data and products",
    "version" : "1.0.0",
    "title" : "Clever-Cloud API",
    "contact" : { }
  },
  "host" : "api.clever-cloud.com",
  "basePath" : "/v2",
  "schemes" : [ "https" ],
  "security" : [ {
    "OAuthSecurity" : [ ]
  } ],
  "paths" : {
    "/application/{appId}/environment" : {
      "get" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "put" : {
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/authorize" : {
      "post" : {
        "tags" : [ "Default" ],
        "description" : "Handled by our API.",
        "operationId" : "postAuthorize",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "authorize"
          }
        }
      }
    },
    "/github" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithub",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "startGithub",
            "schema" : {
              "$ref" : "#/definitions/Transaction Id"
            }
          }
        }
      }
    },
    "/github/applications" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getGithubApplications",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      }
    },
    "/github/callback" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubCallback",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "state",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "error",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "error_description",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "error_uri",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Cookie",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "githubCallback"
          }
        }
      }
    },
    "/github/emails" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubEmails",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getGithubEmails",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/github/keys" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubKeys",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getGithubKeys",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Key"
              }
            }
          }
        }
      }
    },
    "/github/link" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubLink",
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "From GET /github"
        }, {
          "name" : "redirectUrl",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "linkGithub"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteGithubLink",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "unlinkGithub"
          }
        }
      }
    },
    "/github/login" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubLogin",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "githubLogin"
          }
        }
      }
    },
    "/github/redeploy" : {
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postGithubRedeploy",
        "parameters" : [ {
          "name" : "User-Agent",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Github-Event",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Hub-Signature",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "redeployApp"
          }
        }
      }
    },
    "/github/signup" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubSignup",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "githubSignup"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postGithubSignup",
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "otherId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "otherEmail",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "autoLink",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "terms",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "finsihGithubSignup"
          }
        }
      }
    },
    "/github/username" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getGithubUsername",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getGithubUsername",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/newsfeeds/blog" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getNewsfeedsBlog",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getBlogFeed"
          }
        }
      }
    },
    "/newsfeeds/engineering" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getNewsfeedEngineering",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getEngineeringFeed"
          }
        }
      }
    },
    "/oauth/access_token" : {
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOauthAccessToken",
        "parameters" : [ {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "postAccessTokenRequest"
          }
        }
      }
    },
    "/oauth/access_token_query" : {
      "post" : {
        "parameters" : [ {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/oauth/authorize" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOauthAuthorize",
        "parameters" : [ {
          "name" : "oauth_token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Cookie",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "authorizeForm"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOauthAuthorize",
        "parameters" : [ {
          "name" : "almighty",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_organisations",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_organisations",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_organisations_services",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_organisations_applications",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_organisations_members",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_organisations_bills",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_organisations_credit_count",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_organisations_consumption_statistics",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_personal_information",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_personal_information",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_ssh_keys",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_services",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "manage_applications",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_bills",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_credit_count",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "access_consumption_statistics",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Cookie",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "authorizeToken"
          }
        }
      }
    },
    "/oauth/request_token" : {
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOauthRequestToken",
        "parameters" : [ {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "postReqTokenRequest"
          }
        }
      }
    },
    "/oauth/request_token_query" : {
      "post" : {
        "parameters" : [ {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/oauth/rights" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOauthRights",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAvailableRights",
            "schema" : {
              "$ref" : "#/definitions/Rights"
            }
          }
        }
      }
    },
    "/organisations" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getUserOrganisations",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Organisation"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisations",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeOrganisation"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "createOrganisation"
          }
        }
      }
    },
    "/organisations/{id}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getOrganisation",
            "schema" : {
              "$ref" : "#/definitions/Organisation"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeOrganisation"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editOrganisation"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteOrganisation"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonproviders",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Get all informations about all providers.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Provider"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdAddonproviders",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddonProvider"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "createProvider"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonprovidersProviderId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Get all informations about given provider.",
            "schema" : {
              "$ref" : "#/definitions/Provider"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonprovidersProviderId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddonProvider"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "updateProviderInfos"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/features" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonprovidersProviderIdFeatures",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getProviderFeatures",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Feature"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdAddonprovidersProviderIdFeatures",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeFeature"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addProviderFeature"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/features/{featureId}" : {
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdAddonprovidersProviderIdFeaturesFeatureId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteProviderFeature"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "featureId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/plans" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonprovidersProviderIdPlans",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getProviderPlans",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Plan"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdAddonprovidersProviderIdPlans",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabePlan"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addProviderPlan"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getProviderPlan",
            "schema" : {
              "$ref" : "#/definitions/Plan"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabePlan"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editProviderPlan"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdAddonprovidersProviderIdPlansPlanId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteProviderPlan"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "planId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabePlanFeature"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editProviderPlanFeature"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdAddonprovidersProviderIdPlansPlanIdFeaturesFeatureName",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteProviderPlanFeature"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "featureName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "planId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/tags" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonprovidersProviderIdTags",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getProviderTags",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addonproviders/{providerId}/testers" : {
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdAddonprovidersProviderIdTesters",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "addBetaTester"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "providerId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddons",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddons",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdAddons",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "provisionAddon"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonsAddonId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddon",
            "schema" : {
              "$ref" : "#/definitions/Addon"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonsAddonId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Update addon information"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdAddonsAddonId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deprovisionAddon"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/applications" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonsAddonIdApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationsLinkedToAddon",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/env" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonsAddonIdEnv",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonEnv",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ListEnv"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/payment-method" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonsAddonIdPaymentMethod",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "changePaymentMethod"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/plan" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonsAddonIdPlan",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabePlan"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Update plan of an add-on."
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/sso" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonsAddonIdSso",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getSSOData",
            "schema" : {
              "$ref" : "#/definitions/Sso"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/tags" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdAddonsAddonIdTags",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonTags",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/addons/{addonId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdAddonsAddonIdTagsTag",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addAddonTag"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdAddonsAddonIdTagsTag",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteAddonTag"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "tag",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAllApplications",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdApplications",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplication",
            "schema" : {
              "$ref" : "#/definitions/Application"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editApplication"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/addons" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdAddons",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonsLinkedToApplication",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdApplicationsAppIdAddons",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "linkAddonToApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/addons/env" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdAddonsEnv",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getEnvOfAddonsLinkedToApplication",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Env"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/addons/{addonId}" : {
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdAddonsAddonId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "unlinkAddonFromApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/branch" : {
      "put" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/branches" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/dependencies" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdDependencies",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDependencies",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/dependencies/{dependencyId}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdDependenciesDependencyId",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addApplicationDependency"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdDependenciesDependencyId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteApplicationDependency"
          }
        }
      },
      "parameters" : [ {
        "name" : "dependencyId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/dependents" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdDependents",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDependents",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/deployments" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdDeployments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "action",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDeploymentsForOrga",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Deployment"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances" : {
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdDeploymentsDeploymentIdInstances",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDeploymentsForOrga"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "deploymentId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/env" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdEnv",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationEnv",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ListEnv"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdEnv",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeEnv"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editApplicationEnvironment"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/env/{envName}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdEnvEnvName",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeEnv"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editApplicationEnv"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdEnvEnvName",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "removeApplicationEnv"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "envName",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/exposed_env" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "put" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/instances" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdInstances",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationInstances",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AppInstance"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdApplicationsAppIdInstances",
        "parameters" : [ {
          "name" : "commit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "redeployApplication"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdInstances",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "undeployApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/tags" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdTags",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationTags",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdTagsTag",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addApplicationTag"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdTagsTag",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteApplicationTag"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "tag",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/vhosts" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdVhosts",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getVhosts",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vhost"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/vhosts/favourite" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdApplicationsAppIdVhostsFavourite",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getFavouriteVhost",
            "schema" : {
              "$ref" : "#/definitions/Vhost"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdVhostsFavourite",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Vhost"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "markFavouriteVhost"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdVhostsFavourite",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "unmarkFavouriteVhost"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/applications/{appId}/vhosts/{domain}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdApplicationsAppIdVhostsDomain",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Vhost"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addVhost"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdApplicationsAppIdVhostsDomain",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "removeVhost"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "domain",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/avatar" : {
      "put" : {
        "tags" : [ "Default" ],
        "description" : "If you want to upload an image from your computer, send the image in the body of the request without anything else.",
        "operationId" : "putOrganisationsIdAvatar",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "setOrgaAvatar\nsetOrgaAvatarFromSource"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/consumers" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdConsumers",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getConsumers",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Consumer"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdConsumers",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeConsumer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "createConsumer"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/consumers/{key}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdConsumersKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getConsumer",
            "schema" : {
              "$ref" : "#/definitions/Consumer"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdConsumersKey",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeConsumer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "PUT the same data as in POST."
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdConsumersKey",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteConsumer"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "key",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/consumers/{key}/secret" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdConsumersKeySecret",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getConsumerSecret",
            "schema" : {
              "$ref" : "#/definitions/Secret"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "key",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/consumptions" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdConsumptions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "appId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAmount",
            "schema" : {
              "$ref" : "#/definitions/Conso"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/credits" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdCredits",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAmount",
            "schema" : {
              "$ref" : "#/definitions/Credits"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/instances" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdInstances",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getInstancesForAllApps",
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/members" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdMembers",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getOrganisationMembers",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdMembers",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "invitationKey",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeMember"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addOrganisationMember"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/members/{userId}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdMembersUserId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeMember"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editOrganisationMember"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdMembersUserId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "removeOrganisationMember"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "userId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payment-info" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentInfo",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getPaymentInfo"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payments/billings" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentsBillings",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getInvoices"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postOrganisationsIdPaymentsBillings",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "buyDrops"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payments/billings/{bid}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentsBillingsBid",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getInvoice"
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdPaymentsBillingsBid",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "choosePaymentProvider"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdPaymentsBillingsBid",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deletePurchaseOrder"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "bid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payments/billings/{bid}.pdf" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentsBillingsBidPdf",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPdfInvoice"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "bid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payments/fullprice/{price}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentsFullPricePrice",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "priceWithTax"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "price",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/organisations/{id}/payments/recurring" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getOrganisationsIdPaymentsRecurring",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getRecurrentPayment"
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putOrganisationsIdPaymentsRecurring",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "createRecurrentPayment"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteOrganisationsIdPaymentsRecurring",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteRecurrentPayment"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/password_forgotten" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPasswordForgotten",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getPasswordForgottenForm"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postPasswordForgotten",
        "parameters" : [ {
          "name" : "login",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "drop_tokens",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "TesterPass",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "askForPasswordResetViaForm"
          }
        }
      }
    },
    "/password_forgotten/{key}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPasswordForgottenKey",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "confirmPasswordResetRequest"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postPasswordForgottenKey",
        "parameters" : [ {
          "name" : "pass",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pass2",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "resetPasswordForgotten"
          }
        }
      },
      "parameters" : [ {
        "name" : "key",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/payments/coupons/{name}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPaymentsCouponsName",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getCoupon"
          }
        }
      },
      "parameters" : [ {
        "name" : "name",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/payments/providers" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPaymentsProviders",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAvailablePaymentProviders",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Payment Provider"
              }
            }
          }
        }
      }
    },
    "/payments/tokens/bt" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPaymentsTokensBt",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getBraintreeToken"
          }
        }
      }
    },
    "/payments/webhooks/bt" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getPaymentsWebhooksBt",
        "parameters" : [ {
          "name" : "bt_challenge",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "subscriptionEventPing"
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postPaymentsWebhooksBt",
        "parameters" : [ {
          "name" : "bt_signature",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bt_payload",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "subscriptionEvent"
          }
        }
      }
    },
    "/payments/{bid}/end/bt" : {
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postPaymentsBidEndBt",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "endPaymentWithBraintree"
          }
        }
      },
      "parameters" : [ {
        "name" : "bid",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/products/addonproviders" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsAddonProviders",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonProviders",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Provider"
              }
            }
          }
        }
      }
    },
    "/products/addonproviders/{provider_id}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsAddonProvidersProviderId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonProvider",
            "schema" : {
              "$ref" : "#/definitions/Provider"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "provider_id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/products/countries" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsCountries",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getCountries",
            "schema" : {
              "$ref" : "#/definitions/Country"
            }
          }
        }
      }
    },
    "/products/countrycodes" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsCountrycodes",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getCountryCodes",
            "schema" : {
              "$ref" : "#/definitions/Country"
            }
          }
        }
      }
    },
    "/products/instances" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsInstances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "for",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAvailableInstances",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Instance"
              }
            }
          }
        }
      }
    },
    "/products/instances/{type}-{version}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsInstancesTypeVersion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "for",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "app",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAvailableInstance",
            "schema" : {
              "$ref" : "#/definitions/Instance"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "type",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "version",
        "in" : "path",
        "required" : true,
        "type" : "integer",
        "format" : "int32"
      } ]
    },
    "/products/mfa_kinds" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      }
    },
    "/products/packages" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsPackages",
        "parameters" : [ {
          "name" : "coupon",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orgaId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "currency",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getAvailablePackages"
          }
        }
      }
    },
    "/products/prices" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsPrices",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getExchangeRates"
          }
        }
      }
    },
    "/products/zones" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getProductsZones",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getZones",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Zone"
              }
            }
          }
        }
      }
    },
    "/self" : {
      "get" : {
        "tags" : [ "Default" ],
        "summary" : "",
        "description" : "Get information about yourself",
        "operationId" : "getSelf",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getUser",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelf",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeUser"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editUser"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelf",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteUser"
          }
        }
      }
    },
    "/self/addons" : {
      "get" : {
        "tags" : [ "Default" ],
        "summary" : "Addon",
        "description" : "Get all the addons",
        "operationId" : "getSelfAddons",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddons",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postSelfAddons",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "provisionAddon"
          }
        }
      }
    },
    "/self/addons/{addonId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "summary" : "Specific addon",
        "description" : "Get a specific addon",
        "operationId" : "getSelfAddonsAddonId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddon",
            "schema" : {
              "$ref" : "#/definitions/Addon"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelfAddonsAddonId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeAddon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Update addon informations"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelfAddonsAddonId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deprovisionAddon"
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/applications" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfAddonsAddonIdApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationsLinkedToAddon",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/env" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfAddonsAddonIdEnv",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonEnv",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ListEnv"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/payment-method" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelfAddonsAddonIdPaymentMethod",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "changePaymentMethod"
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/plan" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelfAddonsAddonIdPlan",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabePlan"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Update plan of an add-on."
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/sso" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfAddonsAddonIdSso",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getSSOData",
            "schema" : {
              "$ref" : "#/definitions/Sso"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/tags" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfAddonsAddonIdTags",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonTags",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/addons/{addonId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelfAddonsAddonIdTagsTag",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addAddonTag"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelfAddonsAddonIdTagsTag",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteAddonTag"
          }
        }
      },
      "parameters" : [ {
        "name" : "tag",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplications",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postSelfApplications",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addApplication"
          }
        }
      }
    },
    "/self/applications/{appId}" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppId",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplication",
            "schema" : {
              "$ref" : "#/definitions/Application"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "putSelfApplicationsAppId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "editApplication"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelfApplicationsAppId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/addons" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdAddons",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getAddonsLinkedToApplication",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Addon"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Default" ],
        "operationId" : "postSelfApplicationsAppIdAddons",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "linkAddonToApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/addons/env" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdAddonsEnv",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getEnvOfAddonsLinkedToApplication",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Env"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/addons/{addonId}" : {
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelfApplicationsAppIdAddonsAddonId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "unlinkAddonFromApplication"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "addonId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/branch" : {
      "put" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/branches" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/dependencies" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdDependencies",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDependencies",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/dependencies/{dependencyId}" : {
      "put" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdDependenciesDependencyId",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WannabeApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "addApplicationDependency"
          }
        }
      },
      "delete" : {
        "tags" : [ "Default" ],
        "operationId" : "deleteSelfApplicationsAppIdDependenciesDependencyId",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "deleteApplicationDependency"
          }
        }
      },
      "parameters" : [ {
        "name" : "dependencyId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      }, {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/dependents" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdDependents",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "getApplicationDependents",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Application"
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "appId",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    },
    "/self/applications/{appId}/deployments" : {
      "get" : {
        "tags" : [ "Default" ],
        "operationId" : "getSelfApplicationsAppIdDeployments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "action",
[...]
